<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <!-- Company Section -->
            <section class="4u 12u(mobile)">
                <h3>Company</h3>
                <ul class="links">
                    <li><a href="{{ site.baseurl }}/about-us/">About Us</a></li>
                    <li><a href="{{ site.baseurl }}/services/">Services</a></li>
                </ul>
            </section>
            <!-- Resources Section -->
            <section class="4u 12u(mobile)">
                <h3>Resources</h3>
                <ul class="links">
                    <li><a href="{{ site.baseurl }}/news/">News/Blog</a></li>
                </ul>
            </section>
            <!-- Contact Information Section -->
            <section class="4u 12u(mobile)">
                <h3>Contact Information</h3>
                <ul class="links">
                    <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
                </ul>
                <p>Address: University of Neuchâtel. Faculty of Sciences. Rue Emile-Argand 11, 2000 Neuchâtel</p>
            </section>
        </div>
    </div>
</footer>
