<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
    <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/services">Services</a></li>
        <li><a href="{{ site.baseurl }}/about-us">About Us</a></li>
        <li><a href="{{ site.baseurl }}/news">News</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
</nav>
</header>